.sidebar {
    width: 15%;
    min-width: 15%;
    height: '100%';
    background-color: #051743; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    color: white;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: background 0.2s;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon {
  margin-right: 1vw;
  font-size: 1.3vw;
}

.icon-button{
  padding: 5px 5px 5px 0;
  font-size: 0.8vw;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 10% ;
  margin-top: 110%;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 10px;
  background-color: #1F7A8C;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.action-btn:hover {
  background-color: #4ddffcb5;
}

.logout {
  margin-top: auto;
  display: flex;
  align-self: center;
}

.logout-btn {
  display: flex;
  align-items: center;
  align-content: center;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  cursor: pointer;
}

.logout-btn:hover {
  color: #e11b1b;
}

.fontAdaptative{
  font-size: 1vw;
}

.fontAdaptativeTitle{
  font-size: 1.2vw;
}