::-webkit-scrollbar { display: none; }

.TextBox{
    display:flex;
    flex-direction: column;
    background-color: #051743;
    width: 40%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.WTitle{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 3vw;
    padding-left: 3%;
    padding-right: 3%;
    margin: 5%;
}

.WSubtitle{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1vw;
    padding-left: 15%;
    padding-right: 15%;
}

.InputBox2{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    
}

.Input2{
    margin-top: 5%;
    background-color: #eaeaea;
    border: 0;
    border-radius: 10px;
    height: 10vh;
    padding-left: 5%;

}

.ButtonBox{
    align-self: center;
    width: 50%;
}

.RegisterButton{
    background-color: #0A2472;
    color: white;
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    border: 0;
}

.RegisterButton:hover{
     background-color: #0a2472c4;
}
